<div class="metricsContainer">
  <div class="metricsRow">
    <img
      alt=""
      src="https://raw.githubusercontent.com/kmtym1998/kmtym1998/main/general.svg"
      class="metricsImg"
    />
  </div>

  <div class="metricsRow">
    <a href="https://github.com/kmtym1998/hasuraenv" target="_blank">
      <img
        alt=""
        src="https://raw.githubusercontent.com/kmtym1998/kmtym1998/main/metrics.plugin.repositories.svg"
        class="metricsImg"
      />
    </a>
    <img
      alt=""
      src="https://raw.githubusercontent.com/kmtym1998/kmtym1998/main/metrics.plugin.reactions.svg"
      class="metricsImg"
    />
    <img
      alt=""
      src="https://raw.githubusercontent.com/kmtym1998/kmtym1998/main/achievements.svg"
      class="metricsImg"
    />
  </div>
</div>

<style>
  .metricsContainer {
    text-align: center;
    justify-content: space-around;
  }

  @media (max-width: 750px) {
    .metricsRow {
      width: 100%;
    }
    .metricsContainer {
      display: block;
    }
  }
  @media (min-width: 750px) {
    .metricsRow {
      width: 48%;
    }
    .metricsContainer {
      display: flex;
    }
  }

  .metricsImg {
    width: 100%;
    max-width: 600px;
    text-align: center;
  }
</style>
